h1{
    font-size: 5em;
    text-align: center;
    background: linear-gradient(120deg,#379eff 0%,#fa11ee 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    height: 150px;
    padding-top: 30px;
}

*{
    background-color: rgb(24, 24, 24);
}